
<ng-container
	*tuiLet="(transactions$ | async) as transactions"
>
	<div>
		<h1>Dashboard</h1>

		<label
			tuiLabel
			class="type-radios"
		>
			<p class="tui-space_bottom-3">Transaction type</p>
			<tui-radio-labeled
				[formControl]="transactionType"
				class="tui-space_bottom-3"
				[item]="TransactionTypes.Wallet"
			>
				Wallet
			</tui-radio-labeled>

			<tui-radio-labeled
				[formControl]="transactionType"
				class="tui-space_bottom-3"
				[item]="TransactionTypes.Category"
			>
				Category
			</tui-radio-labeled>
		</label>


		<div class="info-transactions">
			<app-transactions-table
				[transactions]="filterTransactions(transactions || [], transactionType.value)"
				[transactionType]="transactionType.value"
			></app-transactions-table>
		</div>
	</div>
</ng-container>
