.buttons {
	margin-bottom: 1rem;
}


.hide-on-large {
	display: none;
}

@media screen and (max-width: 70rem) {
	.hide-on-large {
		display: inline-block;
	}
}

.wallet-info {
	padding: 0 1rem 1rem 1rem;
}

.wallet-name {
	max-width: 300px;
}

.info-top {
	display: flex;
	flex-wrap: wrap;
	gap: 3rem;

	margin-bottom: 3rem;
}

.wallet-name-balance {
	max-width: clamp(280px, 40%, 600px);
}

.wallet-spends {
	flex-grow: 1;

	display: flex;
	align-items: center;
	justify-content: center;
}
