
<ng-container
	*tuiLet="wallet$ | async as wallet"
>

	<div class="buttons">

		<a
			routerLink="/wallets"
			tuiButton
			size="m"
			[shape]="'rounded'"
			class="hide-on-large tui-space_right-2"
		>
			<tui-svg src="tuiIconArrowLeft"></tui-svg>
			Wallets
		</a>

		<tui-hosted-dropdown
			tuiDropdownAlign="left"
			[content]="dropdown"
			[(open)]="buttonsDropdownOpen"
		>
			<button
				tuiButton
				[shape]="'rounded'"
				size="m"
				[iconRight]="icon"
			>
				Options
			</button>
		</tui-hosted-dropdown>

		<ng-template #icon>
			<tui-svg
				src="tuiIconChevronDown"
				class="icon"
				[class.icon_rotated]="buttonsDropdownOpen"
			></tui-svg>
		</ng-template>

		<ng-template #dropdown>
			<tui-data-list>
				<a
					tuiOption
					[routerLink]="'/wallets/edit/' + wallet?.id"
				>
					Edit wallet
				</a>
			</tui-data-list>
			<tui-data-list>
				<button
					tuiOption
					(click)="showDialog(spendsForm)"
				>
					Make a transaction
				</button>
			</tui-data-list>
		</ng-template>
	</div>

	<ng-template #spendsForm let-observer>
		<div class="spend-form">
			<h2 class="tui-space_bottom-2">Make a transaction:</h2>
			<app-spends-form
				[chosenSource]="wallet"
				[wallets]="(wallets$ | async) || []"
				[categories]="(categories$ | async) || []"
				(submitTransaction)="makeTransaction($event, observer)"
				(cancelTransaction)="observer.complete()"
			></app-spends-form>
		</div>
	</ng-template>

	<tui-loader
		[showLoader]="!wallet"
		*tuiLet="filterTransactions((transactions$ | async) || [], transactionType.value) as transactions"
	>
		<div class="wallet-info" [class.tui-skeleton]="!wallet">

			<div class="info-top">
				<div class="wallet-name-balance">
					<div class="wallet-name">
						<h3 class="tui-text_h3">{{ wallet?.name }}</h3>
						<app-divider [height]="2"></app-divider>
					</div>

					<h4 class="tui-space_bottom-5">
						Current balance: {{ wallet?.amount }} {{wallet?.currency?.name}}
					</h4>

					<div>
						<label
							tuiLabel
						>
							<p class="tui-space_bottom-3">Transaction type</p>
							<tui-radio-labeled
								[formControl]="transactionType"
								class="tui-space_bottom-3"
								[item]="TransactionTypes.Wallet"
							>
								Wallet
							</tui-radio-labeled>

							<tui-radio-labeled
								[formControl]="transactionType"
								class="tui-space_bottom-3"
								[item]="TransactionTypes.Category"
							>
								Category
							</tui-radio-labeled>
						</label>
					</div>
				</div>

				<div class="wallet-spends">
					<app-spends-ring
						[transactions]="transactions"
						[currencyName]="wallet?.currency?.name || ''"
					></app-spends-ring>
				</div>
			</div>

			<div class="info-transactions">
				<app-transactions-table
					[transactions]="transactions"
					[transactionType]="transactionType.value"
				></app-transactions-table>
			</div>

		</div>

	</tui-loader>

</ng-container>
