<header class="app-header">
	<div class="header-main tui-container tui-container_adaptive">
		<div class="app-name tui-text_h4">
			<button
				(click)="toggleMenu()"
				class="menu-button tui-space_right-3"
				tuiIconButton
				size="s"
				[shape]="'rounded'"
			>
				<tui-svg class="menu-icon" [src]="(sidebarToggled$ | async) ? 'tuiIconCloseLarge' : 'tuiIconMenuLarge'"></tui-svg>
			</button>
			<a
				class="name-link"
				routerLink="dashboard"
			>
				<span class="left">Buy</span>
				<span class="right">Rak</span>
				<span class="left">Tar</span>
			</a>
		</div>
		<div>
			<a
				class=""
				tuiButton
				size="m"
				routerLink="auth"
				[shape]="'rounded'"
			>
				Login
				<tui-svg class="tui-space_left-2" src="tuiIconLoginLarge"></tui-svg>
			</a>
		</div>
	</div>
</header>
