<div class="nav-item">
	<ng-template [ngIf]="expandable" [ngIfElse]="showLink">
		<button
			(click)="toggle()"
			tuiButton
			size="m"
			appearance="flat"
		>
			{{ title }}
		</button>

		<tui-expand [expanded]="expanded">
			<ng-template tuiExpandContent>
				<ng-content></ng-content>
			</ng-template>
		</tui-expand>
	</ng-template>

	<ng-template #showLink>
		<a
			[routerLink]="link"
			routerLinkActive="active"
			[routerLinkActiveOptions]="{exact: true}"
			tuiButton
			size="m"
			appearance="flat"
			(click)="hideSidebar()"
		>
			{{ title }}
		</a>
	</ng-template>

</div>

