

:root {
	// 		colors

	--color-text-primary: var(--tui-text-01); //#526ed3;
	--color-text-secondary: var(--tui-base-01);

	--color-bg-primary: var(--tui-support-01);
	--color-bg-secondary: var(--tui-base-02);

	// 		layout

	--header-height: 60px;
}
